{% extends 'base.html' %}
{% load static %}

{% block dealslist %} 
<style type="text/css">
	#page{
		margin: 60px auto;
	}
</style>
<div class="container" id="page">
	<!-- OffersRow -->
	<div class="row">
		<!-- Filters Column -->
		<div class="col-md-3">
			<div class="container">
				<form class="form-inline">
				    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				  </form>
			</div><!-- Search  -->
			<div class="container">
				<ul class="nav nav-pills nav-fill" style="text-transform: uppercase; text-decoration: none;">
				  <li class="nav-item">
				    <a class="nav-link active" href="#">Running</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">Expired</a>
				  </li>
				</ul>
			</div><!-- /Availability  -->
		</div><!-- Filters Column End -->

		<!-- Offers Listing -->
		<div class="col-md-9">
			<div class="container-fluid" id="offersListingContainer">
				<!-- Listing container Inner Rows  -->
				<div class="row">
					<div class="col-md-12">
						<h5>Applied Filters list</h5>
					</div><!-- Applied Filters List -->

					<!-- Main columns of The Offers Grids -->
					{% for deal in deals %}
						<div class="col-md-4">
							<div class="card" style="">
							  <div class="card-header">
							    {{deal.created_on|timesince}}
							  </div>
							  <img class="card-img-top" src="{{deal.get_default_image.url}}" alt="Card image cap" width="80%">
							  <div class="card-body">
							    <h5 class="card-title">{{deal.title}}</h5>
							    <p class="card-text">{{deal.description}}</p>
							    <a href="{{deal.url}}" class="btn btn-primary btn-block">Grab this Deal</a>
							  </div>
							  <div class="card-footer text-muted">
							    <bold>{{deal.store.name}}</bold>
							  </div>
							</div>
						</div><!-- /Deal -->
					{% endfor %}
				</div><!-- Inner Rows -->
				{% if is_paginated %}
				  <ul class="pagination" style="text-align: center;">
				    {% if page_obj.has_previous %}
				      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous Page&laquo;</a></li>
				    {% else %}
				      <li class="disabled page-item"><span class="page-link">Prev Page&laquo;</span></li>
				    {% endif %}
				    {% for i in paginator.page_range %}
				      {% if page_obj.number == i %}
				        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
				      {% else %}
				        <!-- <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li> -->
				      {% endif %}
				    {% endfor %}
				    {% if page_obj.has_next %}
				      <li class="page-item"><a class="page-link btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next Page&raquo;</a></li>
				    {% else %}
				      <li class="disabled page-item"><span class="page-link">Next Page&raquo;</span></li>
				    {% endif %}
				  </ul>
				{% endif %}
			</div><!-- Container -->
		</div><!-- Offers Listing End -->
	</div><!-- Offers Rows -->
</div><!-- Container -->
{% endblock %}