{% extends "base.html" %}
{% load static %}
{% block page %}
<style type="text/css">
	#pageContainer{
		margin: 60px auto;
	}
	#pageMessage{
		margin: 60px auto;
	}
</style>
<!-- Jumbotron -->
<div class="jumbotron" style="text-align: center;">
  <h1 class="display-4">Welcome to Best Shopping Experience</h1>
  <!-- <p class="lead">We are here to innovate </p> -->
  <hr class="my-4">
  <div id="featuredStores" class="container">
  	<div class="row">
  		<div class="col-md-12">
  			<h5><blockquote>Featured Stores For Online Shopping</blockquote></h5>
  		</div>
  		{% for store in storesList %}
  		<div class="col-md-3">
  			<div class="card" style="width: 16rem; margin: 50px 50px;">
			  <img class="card-img-top" src="{{MEDIA_URL}}{{store.logo_image}}" alt="Card image cap" style="width: 100%; height: 100px; overflow: hidden;">
			  <div class="card-body">
			    <h5 class="card-title">{{store.name}}</h5>
			    <p class="card-text"></p>
			    <a href="{% url 'store-homepage' store.short_name %}" class="btn btn-primary btn-block" style="text-transform: uppercase;">View All Products</a>
			    <a href="{{store.home_url}}" class="btn btn-warning btn-block" style="text-transform: uppercase;">SHOP ON {{store.short_name }}</a>
			  </div>
			</div>
  		</div><!-- /Flipkart -->
  		{% endfor %}
  	
  	</div><!-- Featured Stores Row -->
  </div><!-- /Featured Stores -->
  <!-- <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'category-products' 'mobiles' %}" role="button">View All Products</a>
  </p> -->
</div>
<div class="container" id="pageContainer">
	<div class="row">
		<!-- The Caraousal Block-->
		<div class="col-md-10">
			<div class="container" id="leftContainer">
				<!-- DODTs -->
				<div class="card" style="border:none;">
					<div class="card-header" style="text-transform: uppercase; border: none;">
						<a href="{% url 'shopping-deals' %}" style="text-decoration: none;">Deals Of The Days</a>
					</div><!-- /DODT Header -->
					<div class="card-body">
						<div id="carousel-example-generic-deals" class="carousel slide" data-ride="carousel" style="background-color: none;">
						  <div class="carousel-inner" role="listbox">
						    {% for dotd in dotdList %}
						    {% if forloop.first %}
						    <div class="carousel-item active" style="background-color: #fff;">
						      <!-- DOTD CARD -->
						      	<div class="card" style="height: 250px; width: 90%; border: none;">
								  <a href="{{dotd.url}}"><img class="card-img-top" src="{{dotd.dotdimage_set.last.url}}" alt="Card image cap" width="50%" style="width: 90%; text-align: center; display: block; height: 200px; overflow: hidden; margin: auto auto;"></a>
								  <div class="card-body">
								  	<p class="card-title">
								  		<a href="{{dotd.url}}" style="text-decoration: none; text-transform: uppercase;">{{ dotd.title }}</a>
								  	</p>
								    <p class="card-text">
								  		{{ dotd.description }}
								  	</p>
								  	<p class="card-text" style="text-transform: uppercase;">
								  		{{dotd.availability}}
								  	</p>
								  </div>
								  <div class="card-footer">
								  	<p class="card-text">
								  		{{dotd.store.name}}
								  	</p>
								  </div>
								</div><!-- /DOTD Card -->
						    </div>
						    {% else %}
						    <div class="carousel-item" style="background-color: #fff;">
						      <!-- DOTD CARD -->
						      	<div class="card" style="height: 250px; width: 90%; border:none;">
								  <a href="{{dotd.url}}">
								  	<img class="card-img-top" src="{{dotd.dotdimage_set.last.url}}" alt="Card image cap" width="50%" style="width: 50%; text-align: center; display: block; height: 200px; overflow: hidden; margin: auto auto;">
								  </a>
								  <div class="card-body">
								  	<p class="card-title">
								  		<a href="{{dotd.url}}" style="text-decoration: none; text-transform: uppercase;">{{ dotd.title }}</a>
								  	</p>
								  	<p class="card-text">
								  		{{ dotd.description }}
								  	</p>
								  	<p class="card-text" style="text-transform: uppercase;">
								  		{{dotd.availability}}
								  	</p>
								  </div>
								  <div class="card-footer">
								  	<p class="card-text">
								  		{{dotd.store.name}}
								  	</p>
								  </div>
								</div><!-- /DOTD Card -->
						    </div>
						    {% endif %}

						    {% endfor %}
						  </div>
						  <a class="left carousel-control" href="#carousel-example-generic-deals" role="button" data-slide="prev">
						    <span class="icon-prev" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#carousel-example-generic-deals" role="button" data-slide="next">
						    <span class="icon-next" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					</div><!-- /DODT BODY -->
					<div class="card-footer" style="border:none;">
						<p class="text-center">
							<a href="{% url 'shopping-deals' %}" style="text-transform: uppercase; text-decoration: none;">View All</a>
						</p>
					</div><!-- /DODT Footer -->
				</div><!-- /Deal Of the Day Card -->
				<div class="clear-fix"></div>

				<!-- Top Offers IN Mobiles -->
				<div class="card" style="margin: 35px auto; border:none;">
					<div class="card-header" style="text-transform: uppercase; border: none;">
						<a href="{% url 'shopping-offers' %}" style="text-decoration: none;">Top Offers</a>
					</div><!-- /DODT Header -->
					<div class="card-body">
						<div id="carousel-example-generic-offers" class="carousel slide" data-ride="carousel" style="background-color: none;">
						  <div class="carousel-inner" role="listbox">
						    {% for offer in offersList %}
						    {% if forloop.first %}
						    <div class="carousel-item active" style="background-color: #fff;">
						      <!-- DOTD CARD -->
						      	<div class="card" style="height: 300px; width: 90%; border:none;">
								  <a href="{{offer.url}}"><img class="card-img-top" src="{{offer.offerimage_set.last.url}}" alt="Card image cap" width="50%" style="width: 50%; text-align: center; display: block; height: 200px; overflow: hidden; margin: auto auto;"></a>
								  <div class="card-body">
								  	<p class="card-title">
								  		<a href="{{dotd.url}}" style="text-decoration: none; text-transform: uppercase;">{{ offer.title }}</a>
								  	</p>
								    <p class="card-text">
								  		{{ offer.description }}
								  	</p>
								  	<p class="card-text" style="text-transform: uppercase;">
								  		{{offer.availability}}
								  	</p>
								  	<p class="card-text">
								  		Starts On : {{offer.startTime.date}}
								  	</p>
								  	<p class="card-text">
								  		Ends On : {{ offer.endTime.date}}
								  	</p>
								  </div>
								  <div class="card-footer">
								  	<p class="card-text">
								  		{{offer.store.name}}
								  	</p>
								  </div>
								</div><!-- /DOTD Card -->
						    </div>
						    {% else %}
						    <div class="carousel-item" style="background-color: #fff;">
						      <!-- DOTD CARD -->
						      	<div class="card" style="height: 250px; width: 90%; border:none;">
								  <a href="{{offer.url}}">
								  	<img class="card-img-top" src="{{offer.offerimage_set.last.url}}" alt="Card image cap" width="50%" style="width: 90%; text-align: center; display: block; height: 200px; overflow: hidden; margin: auto auto;">
								  </a>
								  <div class="card-body">
								  	<p class="card-title">
								  		<a href="{{offer.url}}" style="text-decoration: none; text-transform: uppercase;">{{ offer.title }}</a>
								  	</p>
								  	<p class="card-text">
								  		{{ offer.description }}
								  	</p>
								  	<p class="card-text" style="text-transform: uppercase;">
								  		{{offer.availability}}
								  	</p>
								  	<p class="card-text">
								  		Starts On : {{offer.startTime.date}}
								  	</p>
								  	<p class="card-text">
								  		Ends On : {{ offer.endTime.date}}
								  	</p>
								  </div>
								  <div class="card-footer">
								  	<p class="card-text">
								  		{{offer.store.name}}
								  	</p>
								  </div>
								</div><!-- /Offer Card -->
						    </div>
						    {% endif %}

						    {% endfor %}
						  </div>
						  <a class="left carousel-control" href="#carousel-example-generic-offers" role="button" data-slide="prev">
						    <span class="icon-prev" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control" href="#carousel-example-generic-offers" role="button" data-slide="next">
						    <span class="icon-next" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					</div><!-- /DODT BODY -->
					<div class="card-footer" style="border:none;">
						<p class="text-center">
							<a href="{% url 'shopping-offers' %}" style="text-transform: uppercase; text-decoration: none;">View All</a>
						</p>
					</div><!-- /DODT Footer -->
				</div><!-- /Deal Of the Day Card -->

			</div><!-- Left Container -->
		</div><!-- /Left Column -->

		<div class="col-md-2">
			
		</div><!-- /Right Column -->
	</div><!-- /Rows -->
</div><!-- /PageContainer -->

<script type="text/javascript">
	 $('#carousel-example-generic-deals').on('slid.bs.carousel', function () {
        $(".carousel-item.active:nth-child(" + ($(".carousel-inner .carousel-item").length -1) + ") + .carousel-item").insertBefore($(".carousel-item:first-child"));
        $(".carousel-item.active:last-child").insertBefore($(".carousel-item:first-child"));
    });

	 $('#carousel-example-generic-offers').on('slid.bs.carousel', function () {
        $(".carousel-item.active:nth-child(" + ($(".carousel-inner .carousel-item").length -1) + ") + .carousel-item").insertBefore($(".carousel-item:first-child"));
        $(".carousel-item.active:last-child").insertBefore($(".carousel-item:first-child"));
    });
</script>
{% endblock page %}