{% extends "base.html" %}
{% load static %}
{% block page %}
<style type="text/css">
	#pageContainer{
		margin: 60px auto;
	}
	#pageMessage{
		margin: 60px auto;
	}
</style>
<!-- Store Header -->
<div class="jumbotron jumbotron-fluid" style="background-color:  #0b0c28;">

	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb" style="background-color:  #0b0c28;">
	    <li class="breadcrumb-item"><a href="/">Home</a></li>
	    <li class="breadcrumb-item"><a href="/shopping/">Shopping</a></li>
	    <li class="breadcrumb-item"><a href="/stores/">Categories</a></li>
	    <li class="breadcrumb-item active" aria-current="page">{{category.name}}</li>
	  </ol>
	</nav>

	<div class="display-8 text-center" style="font-family: Calibri; font-weight: bold; color:#fff; text-transform: uppercase;">
		<h5>Buy {{category.name}} at Lowest Prices in India</h5>
		<small>Get Extra Cashback & Coupons from Statsbot.org</small>
	</div>
	<div class="text-center" style="padding-top: 5%;">
		<ul style="list-style: none; display: block;">
		<li style="width: 20%; display: inline-block; float: center;">
			<a href="{% url 'category-products' 'desktops' %}"><i class="fas fa-desktop" style="transform: scale(4);"></i></a>
		</li>
		<li style="width: 20%; display: inline-block; float: center;">
			<a href="{% url 'category-products'  'cameras' %}"><i class="fas fa-camera" style="transform:  scale(4);"></i></a>
		</li>
		<li style="width: 20%; display: inline-block; float: center;">
			<a href="{% url 'category-products'  'laptops' %}"><i class="fas fa-laptop" style="transform:  scale(4);"></i></a>
		</li>
		<li style="width: 20%; display: inline-block; float: center;">
			<a href="{% url 'category-products'  'tablets' %}"><i class="fas fa-tablet" style="transform:  scale(4);"></i></a>
		</li>
	</ul>
	</div>
</div><!-- /Store Jumbotron -->





<div class="container" id="pageContainer">
	<div class="row">         

	<div class="col-md-2 pull-md-1">
			<h5>Filter By</h5>
			<!-- Accordian -->
			<div id="accordion" style="display: inline-block;">

				  <div class="card" style="width: 20rem;">
				    <div class="card-header" id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-block btn-secondary btn-lg" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-align: left;">
				          Store
				        </button>
				      </h5>
				    </div>

				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="card-body">
				        <input type="text" id="myInput" onkeyup="storeFunction()" placeholder="Search for names.." title="Type in a name" style="display: block; width: 90%; border-radius: 5px; text-align: center; margin-left: 10px;">

						<ul id="myUL" style="height: 150px; overflow-y: auto; list-style: none;">
						  {% for store in stores %}
						  	<li><a href="?store={{store.name}}&brand={{request.GET.brand}}">{{store.name}}</a></li>
						  {% endfor %}
						</ul>
						<script type="text/javascript">
							function storeFunction() {
							    var input, filter, ul, li, a, i;
							    input = document.getElementById("myInput");
							    filter = input.value.toUpperCase();
							    ul = document.getElementById("myUL");
							    li = ul.getElementsByTagName("li");
							    for (i = 0; i < li.length; i++) {
							        a = li[i].getElementsByTagName("a")[0];
							        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
							            li[i].style.display = "";
							        } else {
							            li[i].style.display = "none";

							        }
							    }
							};
						</script>
				      </div>
				    </div>
				  </div>

				  <div class="card">
				    <div class="card-header" id="headingTwo">
				      <h5 class="mb-0">
				        <button class="btn btn-block btn-secondary btn-lg" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
				          Price Range
				        </button>
				      </h5>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				      <div class="card-body">
				        <p>Enter a price range</p>
				        
				        	<div class="input-group">
							  <input type="text" class="form-control" placeholder="0" name="starting_price">
							  <span> - </span>
							  <input type="text" class="form-control" placeholder="5000" name="ending_price">
							</div>
							<span><!-- <button class="btn btn-md btn-block btn-success" style="margin-top: 10px; margin-bottom: 10px;">Go</button></span> -->
				        
				      </div>
				    </div>
				  </div>
				  
				  <div class="card">
				    <div class="card-header" id="headingThree">
				      <h5 class="mb-0">
				        <button class="btn btn-block btn-secondary btn-lg" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
				          Brand
				        </button>
				      </h5>
				    </div>
				    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
				      <div class="card-body">
				      		<input type="text" id="brandInput" onkeyup="brandFunction()" placeholder="Search for names.." title="Type in a name" style="display: block; width: 90%; border-radius: 5px; text-align: center; margin-left: 10px;">

						<ul id="brandUL" style="height: 150px; overflow-y: auto; list-style: none;">
						  {% for brand in brands %}
						  	<li><a href="?brand={{brand.brand}}&store={{request.GET.store}}">{{brand.brand}}</a></li>
						  {% endfor %}
						</ul>
						<script type="text/javascript">
							function brandFunction() {
							    var input, filter, ul, li, a, i;
							    input = document.getElementById("brandInput");
							    filter = input.value.toUpperCase();
							    ul = document.getElementById("brandUL");
							    li = ul.getElementsByTagName("li");
							    for (i = 0; i < li.length; i++) {
							        a = li[i].getElementsByTagName("a")[0];
							        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
							            li[i].style.display = "";
							        } else {
							            li[i].style.display = "none";

							        }
							    }
							};
						</script>
				      </div>
				    </div>
				  </div>
				</div>
	</div><!-- /Col-md-3 -->


		<!-- ProductsList -->
		<div class="col-md-10 push-md-1">
			{% if products %}
					<div class="container">
						<h5>Total {{total }} products in {{category}} </h5>
						<div class="row" style="">
							{% for product in products %}
							<div class="col-md-3" style="margin:auto;">
								<!-- Card -->
								<div class="card" style="margin: 10px auto; border:none; height: 32rem;">
									<!-- Header -->
									<div class="card-header" style="border:none;">
									    <img src="{{MEDIA_URL}}{{product.store.logo_image}}" class="img-fluid" style="overflow:hidden; width: 60%; float: center; top:10; position: relative;"></p>
									  </div>

								  <a href="#">
								  	<img class="card-img-top img-responsive" src="{{product.get_default_image.url}}" alt="Card image cap" width="100px" style="width: auto; max-width: 80%; text-align: center; display: block; height: 200px; overflow: hidden; margin: auto auto;">
								  </a>
								  <div class="card-body text-center">
								    <a href="{{product.productUrl}}" style="text-transform: uppercase; text-decoration: none; font-family: Calibri; text-align: center;">{{product.title|truncatechars:100}}</a>
								    <p class="card-text text-center" style="font-family: Calibri;">Brand : {{product.brand}}</p>
								    <p style="font-family: Calibri; border: 2px dotted grey; position: relative;bottom: 5px;" class="text-center">Price : {{product.prices.last.sellingPrice}}</p>
								  </div>

								  <div class="card-body">
								    <a target="_blank" href="{{product.productUrl}}" class="btn btn-block btn-success" style="position: absolute; bottom: 5px;">Buy Now</a>
								    <!-- <a href="#" class="btn btn-block btn-info">View More</a> -->
								  </div>
								</div><!-- Card -->
								
							</div>
							{% endfor %}
							<!-- Paginations -->
							<div class="col-md-12" style="margin-top: 25px;">
								{% if is_paginated %}
								  <ul class="pagination text-center" style="text-align: center;">
								    {% if page_obj.has_previous %}
								      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&brand={{request.GET.brand}}&store={{request.GET.store}}">Previous Page&laquo;</a></li>
								    {% else %}
								      <li class="disabled page-item"><span class="page-link">Prev Page&laquo;</span></li>
								    {% endif %}
								    {% for i in paginator.page_range %}
								      {% if page_obj.number == i %}
								        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
								      {% else %}
								        <!-- <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li> -->
								      {% endif %}
								    {% endfor %}
								    {% if page_obj.has_next %}
								      <li class="page-item"><a class="page-link btn btn-primary" href="?page={{ page_obj.next_page_number }}&brand={{request.GET.brand}}&store={{request.GET.store}}">Next Page&raquo;</a></li>
								    {% else %}
								      <li class="disabled page-item"><span class="page-link">Next Page&raquo;</span></li>
								    {% endif %}
								  </ul>
								{% endif %}
							</div><!-- /Pagination -->
						</div><!-- Row -->
					</div><!-- Card -->
					<div class="clear-fix"></div>
			{% else %}
				<h5>No products Available</h5>
			{% endif %}
		</div><!-- ProductsList -->
		
	</div><!-- /Row -->
</div><!-- /Page Container -->
{% endblock page %}