{% extends "base.html" %}
{% load static %}
{% block page %}
<style type="text/css">
	#pageContainer{
		margin: 60px auto;
	}
	#pageMessage{
		margin: 60px auto;
	}
</style>
<!-- Store Header -->
<div class="jumbotron jumbotron-fluid">

	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/">Home</a></li>
	    <li class="breadcrumb-item"><a href="{% url 'store-directory' %}">Stores</a></li>
	    <li class="breadcrumb-item active" aria-current="page">{{store.name}}</li>
	  </ol>
	</nav>

  <div class="container text-center" style="">
  	<img src="{{MEDIA_URL}}{{store.logo_image}}" width="20%">
    <h5 class="display-6">{{store.name}} Offers and Deals</h5>
    <p class="lead"><a target="_blank" class="btn btn-primary btn-lg" href="{{store.home_url}}" style="text-transform: uppercase;">SHOP ON {{ store.name }}</a></p>

  </div>

  <div class="container text-center">
  	<h3>OR</h3>
  	<form class="form-inline" action="" method="get" style="left: 30%; position: absolute;">
	    <input class="form-control" type="text" id="searchbox" name="url" placeholder="Paste product link here ......" data="{{ request.GET.url }}" style="display: inline-block; max-width: 500px; width: 430px;">
	    <button class="btn btn-outline-success my-12 my-lg-0" type="submit">Buy Now</button>
	  </form>
  </div>
</div><!-- /Store Jumbotron -->

<!-- Offers and Deals Section -->
<div class="container-fluid tab-content" id="nav-tabContent">
		<h1 style="font-size: 1.5em; color: #6d1d0a00;">All Available Offers</h1>
		<div class="row">
			{% for offer in offers %}
				<div class="card col-md-3" style="margin-top: 2rem; border: none;">
				  <div class="card-header" style="">
				    <h5 class="card-title" style="font-family: Calibri; text-align: center;">{{offer.title}}</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text text-center">Period : {{ offer.startTime.date }} to {{ offer.endTime.date }}</p>
				    <p class="card-text">{{offer.description}}</p>
				    {% if offer.coupoun_code %}
				    	<p class="card-text push-md-2 text-center" style="border: 2px dotted grey;">Coupoun Code : {{offer.coupoun_code}}</p>
				    {% else %}
				    	<p class="card-text push-md-2 text-center" style="border: 2px dotted grey;">No Coupoun Code Required</p>
				    {% endif %}

				    <a target="_blank" href="{{offer.url}}" class="btn btn-success btn-block btn-md" style="position: relative; bottom: 5px; text-transform: uppercase;">Activate this deal</a>
				    <a target="_blank" href="{{offer.url}}" class="btn btn-primary btn-block btn-md" style="position: relative; bottom: 5px; text-transform: uppercase;">Shop on {{ offer.store.name }}</a>
				  </div>
		</div>
		{% endfor %}
		</div>

	<div class="col-md-6 push-md-2" style="float: center;">
    {% if is_paginated %}
	  <ul class="pagination" style="text-align: center;">
	    {% if page_obj.has_previous %}
	      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous Page&laquo;</a></li>
	    {% else %}
	      <li class="disabled page-item"><span class="page-link">Prev Page&laquo;</span></li>
	    {% endif %}
	    {% for i in paginator.page_range %}
	      {% if page_obj.number == i %}
	        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
	      {% else %}
	        <!-- <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li> -->
	      {% endif %}
	    {% endfor %}
	    {% if page_obj.has_next %}
	      <li class="page-item"><a class="page-link btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next Page&raquo;</a></li>
	    {% else %}
	      <li class="disabled page-item"><span class="page-link">Next Page&raquo;</span></li>
	    {% endif %}
	  </ul>
	{% endif %}
</div><!-- /Pagination -->
</div><!-- /Offers and Deals Section -->

{% endblock page %}