{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{MEDIA_URL}}favicon.ico">

    <title>Statsbot - A comparison platform for better online customer experience</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'app/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'shopping/shopping.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  </head>
  <style>
    #searchbox input[type=text]{width:430px !important;}
  </style>
  <body>

    <nav class="navbar navbar-toggleable-md navbar-default fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Statsbot.org</small>
      </a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/shopping/">Shopping</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/flights/">Flights</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hotels-home' %}">Hotels</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'buses-home' %}">Buses</a>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Cabs</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Food and Grocery</a>
          </li> -->
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shopping-offers' %}">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'shopping-deals' %}">Deals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'why-us' %}">Why US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about-us' %}">About US</a>
          </li>
          {% block searchbox %}
            <li class="nav-item navbar-right">
              <form class="form-inline" action="{% url 'search-products' %}" method="get">
                <input class="form-control" type="text" id="searchbox" name="q" placeholder="{{ request.GET.q}} || 'Search Here'" data="{{ request.GET.q}}" style="display: inline-block; max-width: 500px; width: 430px;">
                <button class="btn btn-outline-success my-12 my-lg-0" type="submit">Search</button>
              </form>
            </li>
          {% endblock %}
        </ul>
      </div>
    </nav><!-- End of Navigation Bar -->
    {% block page %}
    {% endblock %}
    {% block productslist %}{% endblock %}
    {% block offerslist %}{% endblock %}
    {% block dealslist %}{% endblock %}
    {% block search_results %}{% endblock %}
</div><!-- /.container -->
<!-- FOOTER -->
<footer style="background-color: #999; margin-top: 50px; padding-bottom: 5%;" class="">
  <div class="row" style="background-color: #333; padding-top: 50px;">
    
    <!-- About Us Column -->
    <div class="col-md-3">
      
      <ul style="list-style: none;">
        <h5>About Us</h5>
        <li>
          <a href="#" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i> About US
          </a>
        </li>
        <li>
          <a href="#" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i> Blog
          </a>
        </li>
        <li>
          <a href="#" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i> Testinomials
          </a>
        </li>
        <li>
          <a href="#" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i> FAQ's
          </a>
        </li>
        <li>
          <a href="#" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i> Sitemap
          </a>
        </li>
      </ul>
    </div>
    <!-- /About Us Column -->

    <!-- Useful Reads columns -->
    <div class="col-md-3">
      
      <ul style="list-style: none;">
        <h5>Useful Reads</h5>
        <li>
          <a href="#" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i> Terms and Conditions
          </a>
        </li>
        <li>
          <a href="#" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i> Privacy and Cokkies Policy
          </a>
        </li>
        <li>
          <a href="#" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i> Anti-spam Policy
          </a>
        </li>
      </ul>
    </div>
    <!-- /Useful Reads -->


    <!-- Special Pages -->
    <div class="col-md-3">
      
      <ul style="list-style: none;">
        <h5>Special Pages</h5>
        <li>
          <a href="#" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i> Donation Drives
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/13674010/" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i>Refer and Earn
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/13674010/" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i> Supported Causes
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/13674010/" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i> Partener NGO's
          </a>
        </li>
      </ul>
    </div>
    <!-- /Special Pages -->


    <!-- Connect With Us -->
    <div class="col-md-3">
      
      <ul style="list-style: none;">
        <h5>Connect With Us</h5>
        <li>
          <a href="https://www.facebook.com/statsbotSocialInnovations/" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i><i class="fab fa-facebook-f"></i> Facebook
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/13674010/" style="text-decoration: none;">
            <i class="fas fa-caret-right"></i><i class="fab fa-linkedin"></i> LinkedIn
          </a>
        </li>
        
      </ul>
    </div>
    <!-- /Connect With US -->
  </div>

  <div class="footer-below">
    <!-- /Information Links -->
  <p class="text-center">&copy; Statsbot Social Innovations, India. &middot; <a href="#">Privacy</a> &middot; <a href="#" style="">Terms</a></p>
  <p class="text-right" style="text-align: center; margin: auto 50px;">
    <a href="#">
      <img src="{% static 'images/back-to-top.png' %}" alt="Back to Top">
    </a>
  </p>
  </div>
</footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
    <script>window.jQuery || document.write('<script src="{% static "js/jquery-3.2.1.min.js" %}"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- Fusion Charts JS FILES -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
    <script src="{% static 'js/flot/jquery.flot.js' %}"></script>
    
    <!-- CueLInks JS Integration -->
    <script type='text/javascript'>
        var pubID = '29755CL26816';

        (function(d, t) {
        var s = document.createElement('script');s.type = 'text/javascript';
        s.async = true;s.src = (document.location.protocol == 'https:' ? 'https://cdn0.cuelinks.com/js/' : 'http://cdn0.cuelinks.com/js/')  + 'cuelinksv1.js';
        document.getElementsByTagName('body')[0].appendChild(s);
        }());
    </script><!-- /CueLinks JS Integration -->

  </body>
</html>
