{% extends "base.html" %}
{% load static %}
{% block page %}
<style type="text/css">
	#pageContainer{
		margin: 5% auto;
	}
	.card-title{
		text-decoration: uppercase;
		font-size: 0.85em;

	}
</style>
<div class="container" id="pageContainer">
	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">

	    <div class="carousel-item active">
	      <img class="d-block w-300 img-fluid" src="{% static 'images/posters/education.jpg' %}" alt="Second slide" style="height: 100%; overflow: hidden;">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-300 img-fluid" src="{% static 'images/campaigns/support_animals_large.png' %}" alt="Third slide" style="height: 100%; overflow: hidden;">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-300 img-fluid" src="{% static 'images/posters/model_new.jpg' %}" alt="First slide" style="height: 100%; overflow: hidden;">
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div><!-- /Carauosal Container -->

<style type="text/css">
	.imgBox{
		position: relative;
		width: 100%;
		height: 300px;
		background-size: cover;
		border:2px solid #000;
		overflow: hidden;
	}
	.imgBox img{
		width: 100%;
		height: 100%;
		transition: .5s;
	}
	.imgBox .container{
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		background:transparent;
		transition: .5s;
	}
	.imgBox .container:before{
		content: '';
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		transform: translateX(-100%) scale(1) skew(-45deg);
		transition: .5s;
	}
	.imgBox .content{
		position: absolute;
		top:10%;
		left: 10%;
		transform: translateY(-50%) scale(0);
		padding: 30px 30px;
		text-align: center;
	}

	.imgBox .content div a{
		margin: 15px 20px;
	}

	.imgBox .container h1{
		font-weight: bold; 
		text-transform: uppercase; 
		text-align: center;
		margin-top: 25%;
		color: #15c0bf80;
	}
	.imgBox:hover .content{
		transform: translateY(0) scale(1);
	}
	.imgBox:hover img{
		transform: scale(2) translateX(-50px);
	}
	.imgBox:hover .container:before{
		opacity: 1;
		background: rgba(255, 0,0,.8);
		transform: translateX(-0%) scale(1) skew(-45deg);
	}

	.row .col-md-6{
		margin-top: 25px;

	}
</style>
<div class="container" id="serviceContainer">
	<div class="card" style="border: none;">
		<div class="card-header" style="border: none; ">
			<h3 style="font-weight: bold; text-align: center; text-transform: uppercase; font-weight: bold;">Our Services</h3>
		</div>
		<div class="card-body">
			<div class="row">
				
				<div class="col-md-6">
					<div class="imgBox">
						<img src="{% static 'images/services/flights_new.jpg' %}" class="img-fluid img-responsive">
						<div class="container">
							<!-- <h1>Travel</h1> -->
							<div class="content">
								<div class="upper">
									<span><a href="{% url 'travels-home' %}" class="btn btn-success btn-lg">Flights</a></span>
									<span><a href="{% url 'travels-home' %}" class="btn btn-success btn-lg">Hotels</a></span>
								</div>
								<div class="lower" style="margin-top: 10px;">
									<span><a href="{% url 'travels-home' %}" class="btn btn-success btn-lg">Cabs/Cars</a></span>
									<span><a href="{% url 'travels-home' %}" class="btn btn-success btn-lg">Buses</a></span>
								</div>
							</div>
						</div>
					</div>	
				</div>

				<div class="col-md-6">
					<div class="imgBox">
						<img src="{% static 'images/services/shopping_new.jpg' %}" class="img-fluid img-responsive">
						<div class="container">
							<!-- <h1>Shopping</h1> -->
							<div class="content">
								<div class="upper">
									<span><a href="/shopping/" class="btn btn-success btn-lg">Shopping Home</a></span>
									
								</div>
								<div class="lower" style="margin-top: 5px;">
									<span><a href="{% url 'category-products'  'cameras' %}" class="btn btn-success btn-xs btn-xs">Cameras</a></span>
									<span><a href="{% url 'category-products'  'desktops' %}" class="btn btn-success btn-xs">Desktops</a></span>
									<span><a href="{% url 'category-products'  'laptops' %}" class="btn btn-success btn-xs">Laptops</a></span>
									<span><a href="{% url 'category-products'  'tablets' %}" class="btn btn-success btn-xs	">Tablets</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="imgBox">
						<img src="{% static 'images/services/food.jpg' %}" class="img-fluid img-responsive">
						<div class="container">
							<!-- <h1>Food</h1> -->
							<div class="content">
								<div class="upper">
									<span><a href="#" class="btn btn-success btn-lg">Swiggy</a></span>
									<span><a href="#" class="btn btn-success btn-lg">Foodpanda</a></span>
								</div>
								<div class="lower" style="margin-top: 10px;">
									<!-- <span><a href="" class="btn btn-warning btn-lg">ClearTrip</a></span>
									<span><a href="" class="btn btn-warning btn-lg">ClearTrip</a></span> -->
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="imgBox">
						<img src="{% static 'images/services/offers.jpg' %}" class="img-fluid img-responsive">
						<div class="container">
							<!-- <h1>Offers & Deals</h1> -->
							<div class="content">
								<div class="upper">
									<span><a href="{% url 'shopping-deals' %}" class="btn btn-success btn-lg">Coupouns & Deals</a></span>

									<span><a href="{% url 'shopping-offers' %}" class="btn btn-success btn-lg" style="text-transform: uppercase;">Offers</a></span>
								</div>
								
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>



<style type="text/css">
	.card img.card-img-top:hover{
		transform: scale(1.2) translateX(0px);
	}
</style>
<!-- Social Campaigns -->
<div class="container" style="margin-top: 25px;">
	<div class="card" style="border: none;">
		<div class="card-header" style="border:none; ">
			<h3 style="text-transform: uppercase; font-weight: bold; text-align: center;">Our Campaigns</h3>
		</div>
		<div class="card-body">
			<div class="row">
				{% for campaign in campaigns %}
				<div class="col-lg-4">
					<div class="card" style="width: 22rem; margin-top: 25px; height: 30rem;">
					  <img class="card-img-top img-fluid" src="{{MEDIA_URL}}{{campaign.image}}" alt="Card image cap" style="height: 250px; overflow: hidden;">
					  <div class="card-body text-center">
					    <a href="{% url 'campaign-detail' campaign.pk %}" style="text-transform: uppercase; font-weight: bold; text-decoration: none;">{{campaign.title}}</a>

					    <p class="card-text" style="font-size: 0.85em;">{{campaign.short_description}}</p>
					  </div>
					  <ul class="list-group list-group-flush">
					    <!-- <li class="list-group-item">Friends For Animal</li>
					    <li class="list-group-item">Donation</li> -->
					    <!-- <li class="list-group-item">Scrap Things Donation</li> -->
					  </ul>
					  <div class="card-body">
					    <a href="{% url 'campaign-detail' campaign.pk %}" class="card-link btn btn-success" style="border: grey solid 2px; margin: 5px auto; text-transform: uppercase; position: absolute; bottom: 5px;">View more</a>
					    <!-- <a href="#" class="card-link">See More</a> -->
					  </div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="card-footer text-center" style="background-color: #fff;">
			<a href="{% url 'campaigns-home' %}" class="btn btn-primary btn-lg" style="text-transform: uppercase;">view all campaigns</a>
		</div>
	</div>
</div>



<!-- Partner NGO's -->
<div class="container" style=" margin-top: 25px;">
	<div class="card" style="border: none;">
		<div class="card-header" style="border: none;">
			<h3 style="text-transform: uppercase; text-align: center; font-weight: bold;">Partner NGO's</h3>
		</div>
		<div class="card-body" style="">
			<div id="carouselPartners" class="carousel slide carousel-multi-item" data-ride="carousel" style="height: 15rem; margin-top: 25px;">
			  <div class="carousel-inner" role="listbox" style="padding:20% auto; height: 15rem; margin-top: 25px;">
			    <div class="carousel-item active" style="">
			      <div class="col-md-12" style="text-align: center; float: center; width: 50%;">
			      	<div class="card mb-6" style="border: none;">
			      		<div class="card-body" style="">
			      			<img class="img-fluid img-responsive" src="{% static 'images/partners/ffa.png' %}" alt="First slide" style="width: auto; max-width: 430px; overflow: hidden;">
			      			<div class="card-title">Friends For Animal</div>
			      			<div class="card-text">Humane Society of India</div>
			      			<a href="http://www.friendsforanimal.org/" target="_blank" class="btn btn-md btn-secondary">Visit Now</a>
			      		</div>
			      	</div>
			      </div>
			    </div>
			    <div class="carousel-item">
			      <div class="col-md-12" style="text-align: center; float: center; width: 50%;">
			      	<div class="card mb-6" style="border: none;">
			      		<div class="card-body">
			      			<img class="img-fluid img-responsive" src="{% static 'images/partners/miitti.png' %}" alt="First slide" style="width: auto; max-width: 430px; overflow: hidden;">
			      			<div class="card-title">Miitti Foundation, India</div>
			      			<div class="card-text">Frangrance of The Nation</div>
			      			<a class="btn btn-md btn-secondary" href="http://www.miitti.in/" target="_blank">Visit Now</a>
			      		</div>
			      	</div>
			      </div>
			    </div>
			    <div class="carousel-item">
			      <div class="col-md-12" style="text-align: center; float: center; width: 50%;">
			      	<div class="card mb-6" style="border: none;">
			      		<div class="card-body">
			      			<img class="img-fluid img-responsive" src="{% static 'images/partners/gopali.png' %}" alt="First slide" style="width: auto; max-width: 430px; overflow: hidden; height: 100px;">
			      			<div class="card-title">Gopali Youth Welfare Society</div>
			      			<div class="card-text">Kharagpur, West Bengal, India</div>
			      			<a class="btn btn-md btn-secondary" href="http://www.gyws.org/" target="_blank">Visit Now</a>
			      		</div>
			      	</div>
			      </div>
			    </div>
			  </div>
			  <a class="carousel-control-prev" href="#carouselPartners" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #000;"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselPartners" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #000;"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>
	</div>
</div>


<!-- Testinomials -->
<div class="container" style=" margin-top: 25px;">
	<div class="card" style="border: none;">
		<div class="card-header" style="border: none;">
			<h3 style="text-transform: uppercase; text-align: center; font-weight: bold; background-color: none;">Testnomials</h3>
		</div>
		<div class="card-body" style="">
			<!-- <div id="carouselTestinomials" class="carousel slide carousel-multi-item" data-ride="carousel" style="height: 15rem; margin-top: 25px;">
			  <div class="carousel-inner" role="listbox" style="padding:20% auto; height: 15rem; ">
			    <div class="carousel-item active">
			      <div class="col-md-12" style="text-align: center; float: center; width: 50%;">
			      	<div class="card mb-6" style="border: none;">
			      		<div class="card-body" style="">
			      			<div class="container">
							  <img src="https://www.w3schools.com/w3images/bandmember.jpg" alt="Avatar" style="width:90px">
							  <p><span>Chris Fox.</span> CEO at Mighty Schools.</p>
							  <p>John Doe saved us from a web disaster.</p>
							</div>
			      		</div>
			      	</div>
			      </div>
			    </div>
			    <div class="carousel-item">
			      <div class="col-md-12" style="text-align: center; float: center; width: 50%;">
			      	<div class="card mb-6" style="border: none;">
			      		<div class="card-body">
			      			<div class="container">
							  <img src="https://www.w3schools.com/w3images/bandmember.jpg" alt="Avatar" style="width:90px">
							  <p><span>Chris Fox.</span> CEO at Mighty Schools.</p>
							  <p>John Doe saved us from a web disaster.</p>
							</div>
			      		</div>
			      	</div>
			      </div>
			    </div>
			    <div class="carousel-item">
			      <div class="col-md-12" style="text-align: center; float: center; width: 50%;">
			      	<div class="card mb-6" style="border: none;">
			      		<div class="card-body">
			      			<div class="container">
							  <img src="https://www.w3schools.com/w3images/bandmember.jpg" alt="Avatar" style="width:90px">
							  <p><span>Chris Fox.</span> CEO at Mighty Schools.</p>
							  <p>John Doe saved us from a web disaster.</p>
							</div>
			      		</div>
			      	</div>
			      </div>
			    </div>
			  </div>
			</div> -->
		</div>
	</div>
</div>
{% endblock page %}