{% extends 'base.html' %}
{% load static %}
{% block page %}
    <!-- Jumbotron -->
    <div class="jumbotron" style="text-align: center;">
      <h1 class="display-4">We Believe in Delivering cutting edge pridictive technology for all your online payments</h1>
      <!-- <p class="lead">We are here to innovate </p> -->
      <hr class="my-4">
      <p>We provide best tools to compare the products</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'shopping-home' %}" role="button">Shop Now</a>
      </p>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-md-4" style="">
          <img class="rounded-circle" src="{% static 'images/best_time.jpg' %}" alt="Generic placeholder image" width="140" height="140" style="position: relative;">
          <div class="feature-body">
            <h2>Choose Best</h2>
            <p>Use our comparison tools with uses NLP to describe the best product among the compared products. Our tool provides out of the box technology to describe which product is best fit according to user requirements</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- Feature Body -->
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
          <img class="rounded-circle" src="{% static 'images/notification.jpg' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Price Alerts</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4">
          <img class="rounded-circle" src="{% static 'images/graph.png' %}" alt="Generic placeholder image" width="140" height="140">
          <h2>Best Time to Buy</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">We belive in Human Values<span class="text-muted"></span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="{% static 'images/earth.jpg' %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 push-md-5">
          <h2 class="featurette-heading">When You Celebrate, Someone On this Planet Blesses You<span class="text-muted"></span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 pull-md-7">
          <img class="featurette-image img-fluid mx-auto" src="{% static 'images/helping_others.jpg' %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Everything In One Place<span class="text-muted"></span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="{% static 'images/everythin_in_place.png' %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018 Statsbot Social Innovations &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
{% endblock %}