{% extends "base.html" %}
{% load static %}
{% block page %}
<style type="text/css">
	#pageContainer{
		margin: 60px auto;
	}
	#pageMessage{
		margin: 60px auto;
	}
</style>
<!-- Jumbotron -->
<div class="jumbotron" style="text-align: center;">
  <h1 class="display-4">Feel the Social Booking Experience</h1>
  <!-- <p class="lead">We are here to innovate </p> -->
  <hr class="my-4">
  <div id="featuredStores" class="container">
  	<div class="row">
  		<div class="col-md-12">
  			<h5><blockquote>Featured Stores For Bus Bookings</blockquote></h5>
  		</div>
  		{% for store in storesList %}
  		<div class="col-md-4">
  			<div class="card" style="width: 16rem; margin: 50px 50px;">
			  <img class="card-img-top" src="{{MEDIA_URL}}{{store.logo_image}}" alt="Card image cap" style="width: 100%; height: 100px; overflow: hidden;">
			  <div class="card-body">
			    <h5 class="card-title">{{store.name}}</h5>
			    <p class="card-text"></p>
			    <a href="{{store.home_url}}" class="btn btn-warning btn-block" style="text-transform: uppercase;">Book Now on {{store.short_name }}</a>
			  </div>
			</div>
  		</div><!-- /Flipkart -->
  		{% endfor %}
  	
  	</div><!-- Featured Stores Row -->
  </div><!-- /Featured Stores -->
  <!-- <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'category-products' 'mobiles' %}" role="button">View All Products</a>
  </p> -->
</div><!-- /Jumbotron -->

{% endblock page %}